.carousal {
    width: 45rem;
    height: 40rem;
    border-radius: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    position: relative;
    scroll-snap-type: x mandatory;
}

.carousal img {
    flex: 0 0 100%;
    object-fit: cover;
    height: 100%;
    position: sticky;
    left: 0;
    scroll-snap-align: start;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.hover {
    margin-left: 50px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    padding: 10px;
}

.card-wrapper {
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
    min-width: 400px;
}

.cards {
    flex: 1;
    height: 200px;
    border: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cards:hover {
    flex: 3;
}

@media screen and (min-width: 992px) {
    .main-container {
        flex-direction: row;
    }
}
